# Function

Write a function add_numbers that takes two numbers as arguments and returns their sum.

In [1]:
def add_numbers(a,b):
    c=a+b
    return c

In [2]:
add_numbers(10,20)

30

Write a function multiply_numbers that takes two numbers as arguments and returns their product.

In [3]:
def multiply_numbers(a,b):
    c=a*b
    return c

In [4]:
multiply_numbers(5,8)

40

Write a function divide_numbers that takes two numbers as arguments and returns their quotient. Make
sure to handle the case where the second number is 0.

In [5]:
def divide_numbers(a,b):
    if(b==0):
        print('Error : 0 cannot be divided')
    else:
        c=a/b
        return c

In [6]:
divide_numbers(10,5)

2.0

In [7]:
divide_numbers(2,0)

Error : 0 cannot be divided

Write a function calculate_average that takes a list of numbers as an argument and returns their average

In [8]:
a=(1,2,3,4,5,6,7,8,9)
def calculate_average(a):
    a=sum(a)/len(a)
    return a

In [9]:
len(a)

9

In [10]:
calculate_average(a)

5.0

Write a function is_prime that takes a number as an argument and returns True if the number is prime and
False otherwise.

In [11]:
def is_prime(a):
    if a<2:
        return False
    else:
        for i in range(2,a):
            if a%i==0:
                return False
        return True

In [12]:
is_prime(7)

True

In [13]:
is_prime(6)

False

# OOPS

Create a class Bank with attributes name and accounts. Add methods add_account, remove_account,
and get_total_balance that add an account to the list, remove an account from the list, and return the total
balance of all accounts, respectively.

In [14]:
class Account:
    def __init__(self,balance):
        self.balance=balance
class Bank:
    def __init__(self,name,accounts=[]):                                                   
        self.name=name
        self.accounts=accounts
    def add_account(self,account):
        self.accounts.append(account)
    def remove_account(self,account):
        self.accounts.remove(account)
    def get_total_balance(self):
         return sum(account.balance for account in self.accounts)

In [15]:
bank=Bank("My Bank")
account1=Account(12000)
account2=Account(3000)
bank.add_account(account1)
bank.add_account(account2)

In [16]:
bank.get_total_balance()

15000

In [17]:
bank.remove_account(account1)
bank.get_total_balance()

3000